body{
    margin:0;
    height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
}
.background{
    background:url(BirdsBeansFront.jpg);
    background-size:219%;
    background-position-x:22%;
    background-position-y:356%;
    position: fixed;
    left: 0;
    right: 0;
    z-index:-1;
    width:100%;
    height:100%;
    filter:hue-rotate(-152deg);
}
nav{
    box-shadow:50px -28px 165px 102px #cddc39;
    width: 100%;
    height:0px;
}
ul{
    width:50%;
    font-size:26px;
    font-weight:100;
    padding:0% 52%;
    display:inline-block;
}
li{
    display:inline;
}
a{
    color:#e91e63;
    font-family:lucida grande;
    font-size:1em;
    text-decoration:none;
}
@font-face{
    font-family:"candy";
    src:url(fonts/candy_inc/CANDY___.otf);
}
a:hover{
    border:1px solid hsla(240, -39%, 75%, 1);
}
.button{
    padding:3px;  
}
.button:hover{
    color:#3F51B5;
}
@media screen and (min-width:715px){
    .background{
        background:url(BirdsBeansFront.jpg);
        background-size: 216%;
        background-position-y: 39%;
        background-position-x: 0%;
    }
    ul{
        padding:2% 19%;
    }
}
@media screen and (min-width:856px){
    .background{
        background:url(BirdsBeansFront.jpg);
        background-size:120%;
        background-position-y:0%;
        background-position-x:54%;
        /*preference for colors that are softer on the eyes with just a hint of blue, magenta is painfully bright*/
    }
@media screen and (min-width:1000px){
    ul{
       padding:0% 24%; 
    }
}
@media screen and (min-width:1200px){
    ul{
        padding:0% 24%;
    }
    li{
        margin:2px;
    }
}
