@font-face{
    font-family:"Roboto Slab";
    src:url(fonts/Slab2.woff2);
}
@font-face{
    font-family:"Roboto Slab 1";
    src:url(fonts/Slab1.woff2);
}
@font-face{
    font-family:"Roboto Slab 3";
    src:url(fonts/Slab3.woff2);
}
body{
    margin:0;
    height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    overflow-x:hidden;
    font-family:lucida grande;
    font-size:16px;
}
.background{
    background:url(BirdsBeansFront.jpg);
    background-size:290%;
    background-position-x:2%;
    background-position-y:0;
    position: fixed;
    left: 0;
    right: 0;
    z-index:-1;
    width:100%;
    height:100%;
    filter:hue-rotate(-152deg);
}
nav{
    box-shadow:50px -28px 165px 102px #cddc39;
    width: 100%;
    height:0px;
}
ul{
    width:79%;
    font-size:26px;
    font-weight:100;
    /*padding:0% 2%;*/
    display:inline-block;
    text-align:center;
    margin:45px 0;
}
li{
    display:inline-block;
}
a{
    color:#e91e63;
    font-size:1em;
    text-decoration:none;
}
a:hover{
    border:1px solid hsla(240, -39%, 75%, 1);
}
.button{
    padding:3px;  
}
.button:hover{
    color:#3F51B5;
}
h1{
    text-align: center;
    font-family:"Roboto Slab";
    color:#1b9b9f;
    width:100%;
    line-height:0;
}
h2{
    text-align:center;
    font-family:"Roboto Slab 1";
    color:#1bc91b;
    width:100%;
    display:none;
}
h3{
    text-align: center;
    color: #e91e63;
    line-height:8vw;
    margin-bottom:7vw;
    font-family:"Roboto Slab 3";
    width:100%;
    margin:141px 0;
}
p{
    line-height:5vw;
    width:100%;
    margin-top:-25vw;
    color:#e5f403;
}
.mp{
    font-size:1.5em;
}
.mf{
    font-size:1.75em;
}
.f{
    font-size:2em;
}
.ff{
    font-size:3em;
}
.boutique{
        color:#8bf2ff;
    }
@media screen and (min-width:390px){
    p{
        color:black;
    }
}
@media screen and (min-width:460px){
    ul{
        text-align:center;
        margin-top:10px;
        margin-left:0;
        margin-right:0;
        margin-bottom:0;
    }
    li{
        display:inline-block;
    }
    h1{
        margin-top:10vw;
        line-height:6vw;
        width:80%;
    }
    h2{
        display:inline-block;
        width:78%;
        line-height:10vw;
    }
    h1{
        margin-top:15vw;
        line-height:18vw;
        width:100%;
        color:crimson;
        text-align:center;
    }
    h2{
        width:100%;
        color:crimson;
        text-align:center;
    }
    h3{
        color:#5a4913;
        margin-bottom:7vw;
        margin-top:0;
        margin-left:0;
        margin-right:0;
    }
    p{
        margin-top:0;
    }
    
}
@media screen and (min-width:715px){
    .background{
        background:url(BirdsBeansFront.jpg);
        background-size: 216%;
        background-position-y: 39%;
        background-position-x: 0%;
    }
    nav{
        width:78%;
    }
    ul{
        padding:0% 2%;
        display:inline-block;
    }
    li{
        display:inline;
    }
    h1{
        margin-top:10vw;
        line-height:6vw;
        width:100%;
        color:crimson;
        text-align:center;
    }
    h2{
        width:100%;
        color:crimson;
        text-align:center;
    }
    h3{
        line-height:2vw;
        color:#5d3c16;
        
    }
    p{
        margin-top:4vw;
        line-height:3vw;
        font-size:1.25em;
    }
}

  
@media screen and (min-width:856px){
    .background{
        background:url(BirdsBeansFront.jpg);
        background-size:120%;
        background-position-y:0%;
        background-position-x:54%;
    }
    /*ul{
        margin-top:10px;
    }*/
    h1,h2{
        color:#1b9b9f;
        text-align:center;
    }
    h3{
        color:#e4015c;
    }
    p{
        font-size:1em;
        margin-top:0;
    }
}/*preference for colors that are softer on the eyes with just a hint of blue, magenta is painfully bright*/
  
@media screen and (min-width:1000px){
    ul{
       padding:0% 24%;
    }
}
@media screen and (min-width:1200px){
    ul{
        padding:0% 24%;
    }
    li{
        margin:2px;
    }
    
}
