/*The code is structured with a kind of "honeycomb" model meaning that certain sections and DIVs with certain classes are repeated throughout at different parts with different or "split" functions relating to the degree that they share a class but not to the degree that they contain different info (figure out a better way to explain this) --- As opposed to a one after the other thing*/

@font-face{
    font-family:"Leaguecon"; 
    src:url("../fonts/leaguegothic-condensed-regular-webfont.woff") format("woff");
}
@font-face{
    font-family:"League";
    src:url("../fonts/leaguegothic-regular-webfont.woff") format("woff");
}

/*-------*/
/*<HTML5>*/
header, section, footer, aside, nav, main, article, figure {
    display: block;
    width:100%;
}
/*</HTML5>*/ div{ border:1px solid lightgrey;}

/*<------->*/
/*<GENERAL>*/
/*<------->*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    /*Fixing a problem that made a vertical whitespace down at smaller widths closer to 320. Taken from StackOverFlow*/
}
body{
    margin: 0; 
    -webkit-font-smoothing:antialiased !important; /*Thinkful*/
    background-color:white;
}

header{
    border-top:0.313em solid #1d4782;
    /*1.30208333333%*/
}

img{ 
    width:100%;
    height:inherit;
    }
.get-in-touch, .message-form{
    position:relative;
    overflow: hidden;
}
/*----------------------*/
/*<HEADER>
    <DIV.generic-info-box>*/
/*----------------------*/

header .generic-info-box{
    padding:0 7% 0;
}
/*----------------------*/
/*<section (residential, commerical, project)>
    <DIV.generic-info-box>*/
/*----------------------*/
section .generic-info-box{
        height:20em;
        margin:5% auto;
        width:90.78125%;
        background-color:orchid;
    }
@media screen and (min-width:448px){
    section .generic-info-box{
        height:33.75em;
        width:90.78125%;
        margin:5% auto;
        background-color:yellowgreen;
    }
}


    /*<@DIV.generic-info-box>*/




/*-----------------------------------*/


/*------*/
/*<Body>*/
/*------*/

/*Logo & Mobile Menu (fa-bars)*/

@media screen and (min-width:320px){
.generic-info-box .top-logo-menu-container{
        height:5em;
        margin-bottom:2.5em;
    }}
@media screen and (min-width:482px){
    .generic-info-box .top-logo-menu-container{
        height:9.063em;
    }
}
.top-logo-menu-container .top-left-corner-logo-box{
    float:left;
    height:inherit;
    position:relative;
    margin-left:1.30208333333%;
    /*A bunch of shit here I don't understand*/
}

@media screen and (min-width:320px){
    .top-logo-menu-container .top-left-corner-logo-box{
        width:113px;
    }
}
@media screen and (min-width:482px){
    .top-logo-menu-container .top-left-corner-logo-box{
        width:inherit;
    }
}
.top-left-corner-logo-box>.down-sort-div{
    position:absolute;
    top:0;
    right:0;
    width:12%;
    float:right;
    height:inherit;
    display:inline;/*why*/
}
.down-sort-div>.fa-sort-desc{
    color:white;
    position:absolute;
    bottom:1.05em;
}
@media screen and (min-width:482px){
    .down-sort-div>.fa-sort-desc{
        bottom:2em;
    }
}
/*<DIV.top-logo-menu-container>*/
    /*<DIV.mobile-menu-box>*/
.top-logo-menu-container .mobile-menu-box{
    float:right;
    height:inherit;
    width:10%;
    padding-right:1.30208333333%;
}
/*<DIV.top-logo-menu-container>*/
    /*<DIV.mobile-menu-box>*/
        /*<I.fa-bars>*/
.mobile-menu-box .fa-bars{
    font-size:1.6em;
    font-weight:bolder;
    color:white;
    text-align:right;
    display:block;
    margin-top:5px;
}

/*Header Itself*/

header{ /*GRADIENT EFFECT*/
    background:url("../images/KGPSDlayer_046.png");
    background-position:bottom right;
  background:
    linear-gradient(purple 0%, black 90%), 
    linear-gradient(to right, green 0%, yellow 80%),
    url("../images/KGPSDlayer_046.png")30px,
    url("../images/KGPSDlayer_046.png")20px;
  background-position:bottom right;
  background-blend-mode: screen, difference, lighten;
    /*GRADIENT EFFECT*/
}
header h1{ 
    font-family:League;
    font-size:2em;
    font-weight:100;
    letter-spacing:0.03em;
    line-height:0.25em;
    color:white;
    text-align:right;
}

    /*<@HEADER h1>*/
@media screen and (min-width:320px){
    header h1{
        font-size:2.3em;}}
@media screen and (min-width:482px){
    header h1{
        font-size:3.5em;}}
    /*</@HEADER h1>*/

header h2/*Should This be a <p>? Re: SEO */{
    color:white;
    font-family:helvetica;
    text-align:right;
    font-size:1em;
    line-height:1.5em;
    font-weight:400;
}
    /*<@HEADER h2>*/
@media screen and (min-width:320px){
    header h2{
        font-size:1.3em;}}
@media screen and (min-width:482px){
    header h2{
        font-size:1.5em;}}
    /*</@HEADER h2>*/

/*-------*//*-------*//*-------*//*-------*//*-------*//*-------*//*-------*//*-------*//*-------*/
/*Commercial, Residential and Project Boxes*/
/*-------*//*-------*//*-------*//*-------*//*-------*//*-------*//*-------*//*-------*//*-------*/
/*<DIV.generic-info.box>*/
    /*<DIV.pic-box>*/
.generic-info-box .pic-box{ /*The top half*/
    height:50%;
    width:100%; 
    position:relative; 
    background-color:green;
}
/*<DIV.generic-info.box>*/
    /*<DIV.pic-box>*/
        /*<DIV.heading-and-logo-container>*/
.pic-box .heading-and-logo-container{ 
    height:36%;
    width:100%;
    bottom:0;
    left:0;
    position:absolute;
    background-color:magenta;
    display:flex;
    align-items:center;
    line-height:259%;
    vertical-align:middle;

}
/*<DIV.generic-info.box>*/
    /*<DIV.pic-box>*/
        /*<DIV.heading-and-logo-container>*/
            /*<DIV.logo-left-corner>*/
.heading-and-logo-container .logo-left-corner{
    height:100%;
    width:58px; 
    position:relative;
}


@media screen and (max-width:448px){
    .heading-and-logo-container .logo-left-corner{
        width:10%;
    }
}
/*<DIV.generic-info.box>*/
    /*<DIV.pic-box>*/
        /*<DIV.heading-and-logo-container>*/
            /*<h2>*/
.heading-and-logo-container h2{
    margin:1% 2% 0;
    font-family:league;
    font-size:7.5vw;
    font-weight:100;
    letter-spacing:0.06em;
}

.project .heading-and-logo-container{
    display:inline-block;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:stretch;
}
.project .project-heading{
    margin:-19% 11%;
}
@media screen and (min-width:449px) and (max-width:521px){
    .project .project-heading{
        margin:-20% 16%;
    }
}

@media screen and (min-width:448px){{}}/*448 to 521*/
.project .heading-and-logo-container .project-heading h2{
    font-family:league;
    font-size:7.5vw;
    font-weight:100;
    letter-spacing:0.06em;
    /*margin:-18% 0% 1% 13.5%;*/
    line-height:normal;
}
.project .project-heading h2:nth-child(2){
    margin-top: -0.5vw !important;
}
/*Dealing with the .project h2... I'm sure there's a better way to do this*/
/*@media screen and (min-width:383px){.project h2{margin:-17% 0% 1% 13.5% !important;}}
@media screen and (min-width:432px){.project h2{margin:-16% 0% 1% 13.5% !important;}}
@media screen and (min-width:448px){.project h2{margin:-21% 0% 3% 16.5% !important;}}
@media screen and (min-width:518px){.project h2{margin:-19% 0% 3% 16.5% !important;}}
@media screen and (min-width:607px){.project h2{margin:-18% 0% 3% 16.5% !important;}}
/*I should put this shit in one div and scale it accordingly. That was super lazy*/
/*Mabye Make that Div a Flex Box */


/*------------------Slider CSS
                            ---------------------*/ 
.slider{
    height:30em;
    background-color:turquoise;
}

/*-----------------Get in touch & Form Section
                        -----------------------*/
.get-in-touch{
    background-color:pink;
    height:0;
    padding-bottom:280px;
}
.get-in-touch>.generic-info-box{
    margin:0 auto;
}
/*<SECTION.get-in-touch>*/
    /*<DIV.generic-info-box>*/
        /*<DIV.contact-heading>*/
.generic-info-box>.contact-small{ 
    font-size:2em;
    line-height:19px;
    font-family:League;
    font-weight:100;
    letter-spacing:0.03em;
    text-transform:uppercase;
    text-align:center;
}
.generic-info-box>.contact-heading{
    display:none;
}
@media screen and (min-width:427px){
    .get-in-touch{
        padding-bottom:300px
}
    .generic-info-box>.contact-heading{
        display:block;
        font-size:2.5em;
        line-height:37px;
        font-family:League;
        font-weight:100;
        letter-spacing:0.03em;
        text-transform:uppercase;
        text-align:center;
    }
    .generic-info-box>.contact-small{
        display:none;
    }
}
@media screen and (min-width:512px){
    .generic-info-box>.contact-heading{
        font-size:3em;
    }
}
/*<SECTION.get-in-touch>*/
    /*<DIV.generic-info-box>*/
        /*<p>*/
.get-in-touch>.generic-info-box>p{
    text-align:center;
    font-size:1.3em;
    line-height:6.5vw;
    font-family:helvetica;
    font-weight:100;
}

section.message-form{
    background-color:lightgoldenrodyellow;
    height:90vw;
}
.form-font-size-span{
    font-size:1em;
    font-family:verdana;
    position:relative;
}

.message-form div.generic-info-box{
    margin-top:0;
}
.message-form div.generic-info-box input{
    width:80%;
    height:3vw;
    margin:3vw auto;
    padding:2.6vw 3.6vw;
    display:block;
    font-size: 1.4em;
    font-family:helvetica;
    font-weight:100;
    background-color:lightgrey;
    border:1px solid #bfbfbf;
    }

.message-form div.generic-info-box input:nth-child(4){
    height:1vw;
    padding:4vw 3.75vw 28vw;
    border: 1px solid grey /*Need to Change*/;
}
.message-form div.generic-info-box input:nth-child(6){
    height:7.5vw;
    padding:10vw 4vw 5vw 4vw;
}
i.fa-arrow-circle-o-right{
    margin:2vw 42vw;
    font-size:7.5vw;
    width:88%;
    position:absolute;
    z-index:1;
}



/*---------------------Footer Sections 
                                    ---------------------*/
/*----------------------*/
/*<footer>
    <DIV.generic-info-box>*/
/*----------------------*/
footer .generic info-box:nth-child(2){
    padding:0 7% 0;
    max-width:100%;
    height:3em;
}

.footer-nav, .logos-container, .social{
    list-style:none;
    text-decoration:none;
    text-align:center;
    margin:0; 
    padding:0;
}
footer p{
    font-family:"verdana";
    font-size:10px;
    }

/*------------------<FOOTER> NavBar
                        -----------------------------*/

/*<NAV.generic-info-box>*/
    /*<ul.footer-nav>*/
/*---------------*/
/*<DIV.generic-info-box>*/
    /*<ul.logos-container>*/
/*---------------*/
/*<ul.social>*/
/*---------------*/

nav.generic-info-box{
    margin: 1.938em auto;
}

.footer-nav>li, .logos-container>li, .social>li{
    display:inline-block;
}

/*<NAV.generic-info-box>*/
    /*<ul.footer-nav>*/

.footer-nav>li{
    margin-right:0.3em;
    font-size:0.7em;
}
.social{
    font-size:2.5em;
    margin:1em auto;
    color:#777a7e;
    }
.social i{
    margin-left:0.75em;
    margin-right:0.75em;
    }
/*----------------<FOOTER> Logos
                    ----------------------*/
/*<DIV.generic-info-box>*/
    /*<ul.logos-container>*/
.logos-container{ 
    padding:0 -5% 0;
    height:1.75em;
}
@media screen and (min-width:640px){
    .logos-container{
        padding: 0 13% 0;
    }
}
.logos-container li{
    width:33.3333%; 
    float:left;
    height:1.5em;
    overflow:hidden;
}
/*<DIV.generic-info-box>*/
    /*<ul.logos-container>*/
        /*<li>*/
            /*<DIV (logo1box, logo2box, logo3box)>*/
                /*<img>*/
.logos-container img{
    width:80%; 
    height:14px; 
    padding:5px 0; /*Redundancies!!!!!*/
    margin:0 auto;
}
.logo1box img{
    width:142px;
    height:31px;
    margin:-12px auto;
}

.logo2box img{
    height:1.5em;
    width:91px;
    padding:0;
}
/*<DIV.generic-info-box>*/
    /*<ul.logos-container>*/
        /*<li>*/
            /*<logo3box>*/
.logo3box{ 
    height:1.5em;
    width:120%;
    margin-top:2%;
}
.logo3box p{ 
    font-size:0.5em;
    font-weight:100;
    margin:0;
    text-align:left;
}
footer>p{
    text-align:center;
    color:#777a7e;
}
.footer-nav{
    font-family:"verdana";
    font-size:larger;
    color:#777a7e;
    }

/*-------------------Clearfix
                    ----------------*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

