

@font-face{
    font-family:"Leaguecon"; 
    src:url("../fonts/leaguegothic-condensed-regular-webfont.woff") format("woff");
}
@font-face{
    font-family:"League";
    src:url("../fonts/leaguegothic-regular-webfont.woff") format("woff");
}

/*-------*/
/*<HTML5>*/
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
/*</HTML5>*/ div{ border:1px solid white;}

/*<------->*/
/*<GENERAL>*/
/*<------->*/

body{
    margin: 0; 
    -webkit-font-smoothing:antialiased !important; 
    background-color:red;
}
.down-sort-div{
    float:right;
    height:inherit;
    width:8%;
    display:inline;
}

/*</------->*/
/*</GENERAL>*/
/*</------->*/

/*----------------------*/
/*<DIV.generic-info-box>*/
/*----------------------*/

header> .generic-info-box{
    padding:0 7% 0;
}
section .generic-info-box{
    height:15em;
    margin:7% auto;
    width:86%;
    background-color:yellow;
}

    /*<@DIV.generic-info-box>*/
@media screen and (min-width:448px){
    section .generic-info-box{
        height:20em;
    }/*----*/section .logo-left-corner .fa-building{ 
        /*----*/margin:15px auto !important;}}
@media screen and (min-width:660px){ 
    section .generic-info-box{
        height:24em;
        width:90%;
        margin:5% auto;
    }/*----*/section .logo-left-corner .fa-building{
        /*----*/margin:12px auto !important;
        /*----*/font-size:2em !important;}}
    /*</@*>*/

footer .generic info-box:nth-child(2){
    padding:0 7% 0;
    max-width:100%;
    height:3em;
}
/*-----------------------*/
/*</DIV.generic-info-box>*/
/*-----------------------*/

/*------*/
/*<Body>*/
/*------*/

/*Logo & Mobile Menu (fa-bars)*/

.generic-info-box .top-logo-menu-container{
    height:4em;
    margin-bottom:2em;
}

    /*<@DIV.top-logo-menu-container>*/
@media screen and (min-width:448px){
    .generic-info-box .top-logo-menu-container{
        height:5em;
        margin-bottom:2.5em;}}
@media screen and (min-width:660px){ 
    .generic-info-box .top-logo-menu-container{
        height:6em;
        margin-bottom:3em;}
    /*----*/.top-left-corner-logo-box>.fa-building{
        /*----*/font-size:3em !important;}
    /*----*//*----*/.top-left-corner-logo-box h3{
        /*----*//*----*/font-size:1.5em !important;}}
    /*</@DIV.top-logo-menu-container>*/


/*<DIV.top-logo-menu-container>*/
.top-logo-menu-container .top-left-corner-logo-box{
    float:left;
    height:inherit;
    width:25%;
}
    /*<DIV.top-left-corner-logo-box>*/
.top-left-corner-logo-box>.fa-building{ 
    font-size:2em;
    color:white;
    text-align:center;
    display:block;
    margin:7px auto;
}
        /*<h3>*/
.top-left-corner-logo-box h3{
    display:block;
    color:white;
    font-family:League;
    font-size:1em;
    font-weight:100;
    text-align:center;
    margin:0;
}
.generic-info-box .mobile-menu-box{
    float:right;
    height:inherit;
    width:10%;
}
.mobile-menu-box .fa-bars{
    font-size:1.6em;
    font-weight:bolder;
    color:white;
    text-align:center;
    display:block;
    margin-top:5px;
}
header{
    background-color:blue;
}
header h1{ 
    font-family:League;
    font-size:2em;
    font-weight:100;
    letter-spacing:0.03em;
    line-height:0.25em;
    color:white;
    text-align:right;
}
@media screen and (min-width:448px){
    header h1{
        font-size:2.5em;
    }
}
@media screen and (min-width:660px){
    header h1{
        font-size:3.5em;
    }
}
header h2/*Should This be a <p>? Re: SEO */{
    color:white;
    font-family:helvetica;
    text-align:right;
    font-size:1em;
    line-height:1.5em;
    font-weight:400;
}
@media screen and (min-width:448px){
    header h2{
        font-size:1.3em;
    }
}
@media screen and (min-width:660px){
    header h2{
        font-size:1.5em;
    }
}
/*------------------- Commercial, Residential and Project Boxes
                        -------------------------------------------*/


section .generic-info-box .pic-box{
    height:50%;
    width:100%; 
    position:relative;
    background-color:green;
}
.pic-box .heading-and-logo-container{ 
    height:36%;
    width:100%;
    bottom:0;
    left:0;
    position:absolute;
    background-color:magenta;
}
.heading-and-logo-container .logo-left-corner{
    height:100%;
    width:10%; 
    position:relative;
    background-color:bisque;
}
section .logo-left-corner .fa-building{ 
    font-size:1.5em;
    text-align:center;
    display:block;
    margin:9px auto;
}
.heading-and-logo-container h2{
    position:absolute;
    top:0;
    margin:0 12% 0;
    font-family:league;
    font-size:8vw;
    font-weight:100;
    letter-spacing:0.06em;
}

/*------------------Slider CSS
                            ---------------------*/ 
.slider{
    height:15em;
    background-color:turquoise;
}

/*-----------------Get in touch & Form Section
                        -----------------------*/
.get-in-touch{
    background-color:pink;
    height:15em;
}
.get-in-touch>.generic-info-box{
    margin:0 auto;
}
.generic-info-box>.contact-heading{ 
    font-family:League;
    font-size:1.7em;
    font-weight:100;
    letter-spacing:0.03em;
    line-height:0.25em;
    text-transform:uppercase;
    text-align:center;
}
.get-in-touch>.generic-info-box>p{
    text-align:center;
}
.message-form{
    background-color:green;
    height:15em;
}



/*---------------------Footer Sections 
                                    ---------------------*/

.footer-nav, .logos-container, .social{
    list-style:none;
    text-decoration:none;
    text-align:center;
    margin:0; 
    padding:0;
}

/*------------------Footer NavBar
                        -----------------------------*/

.footer-nav>li, .logos>li, .social>li{
    display:inline-block;
}
.footer-nav>li{
    margin-right:0.3em;
    font-size:0.7em;
}

/*----------------Logos
                    ----------------------*/
.logos-container{ 
    padding:0 7% 0;
    height:1.5em;
}
.logos-container li{
    width:33.3333%; 
    float:left;
    height:1.5em;
    overflow:hidden;
}
.logos-container img{
    width:80%; 
    height:14px; 
    padding:5px 0;
    margin:0 auto;
}
.logo1box img{
    width:71px;
}

.logo2box img{
    height:1.5em;
    width:71px;
    padding:0;
}
.logo3box{ 
    height:1.5em;
    width:120%;
    margin-top:2%;
}
.logo3box p{ 
    font-size:0.6em;
    margin:0;
    text-align:left;
}
/*.logos li:nth-child(3){
    position:relative;*/

/*.logos3{
    position:absolute;
    top:0;
}*/

footer>p{
    text-align:center;
}


/*-------------------Clearfix
                    ----------------*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

